name: CI

on:
  pull_request:

permissions:
  contents: read

jobs:
  lint:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    name: 'Lint: node-24, ubuntu-latest'
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
        with:
          fetch-depth: 0

      - name: Set node version to 24
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6
        with:
          node-version: 24.12.0

      - name: Install deps
        run: npm install

      - name: Lint
        run: npm run lint

  format:
    runs-on: ubuntu-latest
    timeout-minutes: 5
    name: 'Format: node-24, ubuntu-latest'
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
        with:
          fetch-depth: 0

      - name: Set node version to 24
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6
        with:
          node-version: 24.12.0

      - name: Install deps
        run: npm install

      - name: Format
        run: npx prettier src --check

  ts-check-tests:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    name: 'TS-Check Tests: node-24, ubuntu-latest'
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
        with:
          fetch-depth: 0

      - name: Set node version to 24
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6
        with:
          node-version: 24.12.0

      - name: Install deps
        run: npm install

      - name: Check tests
        run: npx tsc --noEmit
