name: CI

on:
  pull_request:

permissions:
  contents: read

jobs:
  lint:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    name: 'Lint: node-18, ubuntu-latest'
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
        with:
          fetch-depth: 0

      - name: Set node version to 18
        uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6
        with:
          node-version: 24.12.0

      - name: Install deps
        run: npm install

      - name: Lint
        run: npm run lint

  format:
    runs-on: ubuntu-latest
    timeout-minutes: 5
    name: 'Format: node-18, ubuntu-latest'
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
        with:
          fetch-depth: 0

      - name: Set node version to 18
        uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6
        with:
          node-version: 24.12.0

      - name: Install deps
        run: npm install

      - name: Format
        run: npx prettier src --check

  ts-check-tests:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    name: 'TS-Check Tests: node-18, ubuntu-latest'
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
        with:
          fetch-depth: 0

      - name: Set node version to 18
        uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6
        with:
          node-version: 24.12.0

      - name: Install deps
        run: npm install

      - name: Check tests
        run: npx tsc --noEmit
